@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient-border {
  border-image: linear-gradient(to right, #8B5CF6, #FF7A78);
  border-image-slice: 1;
}


#section07 {
  min-height: 100vh;
}

#section07 a {
  padding-top: 40px;
}

#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  
  margin-left: -12px;
  border-left: 1px solid  #FF7A78;
  border-bottom: 1px solid #8B5CF6;
  transform: rotate(-45deg);
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}

#section07 a .arrow-span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #8B5CF6, #FF7A78);
  -webkit-mask: linear-gradient(to right, #000 50%, transparent 50%);
  mask: linear-gradient(to right, #000 50%, transparent 50%);
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
}

#section07 a span:nth-of-type(1) {
  animation-delay: 0s;
}

#section07 a span:nth-of-type(2) {
  top: 16px;
  animation-delay: 0.15s;
}

#section07 a span:nth-of-type(3) {
  top: 32px;
  animation-delay: 0.3s;
}

@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}





/* styles/AnimatedBackground.module.css */
@keyframes move {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(20px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.animated-background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circle {
  position: fixed;
  border-radius: 50%;
  filter: blur(20px);
  opacity: 0.6;
  animation: move 4s ease-in-out infinite;
}

.circle:nth-child(1) {
  width: 50px;
  height: 50px;
  background-color: #f00;
  top: 10%;
  left: 5%;
}

.circle:nth-child(2) {
  width: 50px;
  height: 50px;
  background-color: #00f;
  top: 50%;
  left: 20%;
}

.circle:nth-child(3) {
  width: 50px;
  height: 50px;
  background-color: #0f0;
  top: 20%;
  left: 80%;
}

.circle:nth-child(4) {
  width: 50px;
  height: 50px;
  background-color: pink;
  top: 10%;
  left: 50%;
}
.circle:nth-child(5) {
  width: 50px;
  height: 50px;
  background-color: gold;
  top: 90%;
  left: 10%;
}
.circle:nth-child(6) {
  width: 50px;
  height: 50px;
  background-color: royalblue;
  top: 10%;
  left: 20%;
}
.circle:nth-child(7) {
  width: 50px;
  height: 50px;
  background-color: greenyellow;
  top: 50%;
  left: 60%;
}


